In [8]:
import pandas as pd
import numpy as np
import os

In [2]:
# get the path of the precessed data
processed_data_path = os.path.join(os.path.pardir,'data','processed')
train_file_path = os.path.join(processed_data_path,'train.csv')
test_file_path = os.path.join(processed_data_path,'test.csv')

In [3]:
train_df= pd.read_csv(train_file_path,index_col= 'PassengerId')
test_df = pd.read_csv(test_file_path,index_col = 'PassengerId')

In [4]:
train_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 891 entries, 1 to 891
Data columns (total 34 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Survived            891 non-null    int64
 1   Age                 891 non-null    float64
 2   Fare                891 non-null    float64
 3   FamilySize          891 non-null    int64
 4   Ismother            891 non-null    int64
 5   ismale              891 non-null    int64
 6   deck_A              891 non-null    int64
 7   deck_B              891 non-null    int64
 8   deck_C              891 non-null    int64
 9   deck_D              891 non-null    int64
 10  deck_E              891 non-null    int64
 11  deck_F              891 non-null    int64
 12  deck_G              891 non-null    int64
 13  deck_Z              891 non-null    int64
 14  Pclass_1            891 non-null    int64
 15  Pclass_2            891 non-null    int64
 16  Pclass_3            891 non-null    int64
 17  Title_Lady          891 non-null    int64
 18  Title_Master        891 non-null    int64
 19  Title_Miss          891 non-null    int64
 20  Title_Mr            891 non-null    int64
 21  Title_Mrs           891 non-null    int64
 22  Title_Offier        891 non-null    int64
 23  Title_Sir           891 non-null    int64
 24  Title_mrs           891 non-null    int64
 25  Fare_bin_very_low   891 non-null    int64
 26  Fare_bin_low        891 non-null    int64
 27  Fare_bin_high       891 non-null    int64
 28  Fare_bin_very_high  891 non-null    int64
 29  Embarked_C          891 non-null    int64
 30  Embarked_Q          891 non-null    int64
 31  Embarked_S          891 non-null    int64
 32  AgeState_Adult      891 non-null    int64
 33  AgeState_Child      891 non-null    int64
dtypes: float64(2), int64(32)
memory usage: 243.6 KB

In [5]:
test_df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 418 entries, 892 to 1309
Data columns (total 33 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   Age                 418 non-null    float64
 1   Fare                418 non-null    float64
 2   FamilySize          418 non-null    int64
 3   Ismother            418 non-null    int64
 4   ismale              418 non-null    int64
 5   deck_A              418 non-null    int64
 6   deck_B              418 non-null    int64
 7   deck_C              418 non-null    int64
 8   deck_D              418 non-null    int64
 9   deck_E              418 non-null    int64
 10  deck_F              418 non-null    int64
 11  deck_G              418 non-null    int64
 12  deck_Z              418 non-null    int64
 13  Pclass_1            418 non-null    int64
 14  Pclass_2            418 non-null    int64
 15  Pclass_3            418 non-null    int64
 16  Title_Lady          418 non-null    int64
 17  Title_Master        418 non-null    int64
 18  Title_Miss          418 non-null    int64
 19  Title_Mr            418 non-null    int64
 20  Title_Mrs           418 non-null    int64
 21  Title_Offier        418 non-null    int64
 22  Title_Sir           418 non-null    int64
 23  Title_mrs           418 non-null    int64
 24  Fare_bin_very_low   418 non-null    int64
 25  Fare_bin_low        418 non-null    int64
 26  Fare_bin_high       418 non-null    int64
 27  Fare_bin_very_high  418 non-null    int64
 28  Embarked_C          418 non-null    int64
 29  Embarked_Q          418 non-null    int64
 30  Embarked_S          418 non-null    int64
 31  AgeState_Adult      418 non-null    int64
 32  AgeState_Child      418 non-null    int64
dtypes: float64(2), int64(31)
memory usage: 111.0 KB

In [6]:
test_df.head(10)

,Age,Fare,FamilySize,Ismother,ismale,deck_A,deck_B,deck_C,deck_D,deck_E,...,Title_mrs,Fare_bin_very_low,Fare_bin_low,Fare_bin_high,Fare_bin_very_high,Embarked_C,Embarked_Q,Embarked_S,AgeState_Adult,AgeState_Child
PassengerId,,,,,,,,,,,,,,,,,,,,,
892,34.5,7.8292,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
893,47.0,7.0000,2,0,0,0,0,0,0,0,...,1,1,0,0,0,0,0,1,1,0
894,62.0,9.6875,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,1,0,1,0
895,27.0,8.6625,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,1,0
896,22.0,12.2875,3,0,0,0,0,0,0,0,...,1,0,1,0,0,0,0,1,1,0
897,14.0,9.2250,1,0,0,0,0,0,0,0,...,0,0,1,0,0,0,0,1,0,1
898,30.0,7.6292,1,0,0,0,0,0,0,0,...,0,1,0,0,0,0,1,0,1,0
899,26.0,29.0000,3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0
900,18.0,7.2292,1,0,0,0,0,0,0,0,...,1,1,0,0,0,1,0,0,1,0
901,21.0,24.1500,3,0,0,0,0,0,0,0,...,0,0,0,1,0,0,0,1,1,0

# Data preperation

In [16]:
X = train_df.loc[:,"Age":].to_numpy() .astype('float')
y = train_df['Survived'].ravel()

In [17]:
print(X.shape, y.shape)

(891, 33) (891,)

In [21]:
# train split test
from sklearn.model_selection import train_test_split
X_train, X_test, y_train, y_test = train_test_split(X ,y, test_size=0.2, random_state=0)
print(X_train.shape, y_train.shape)
print(X_test.shape,y_test.shape)

(712, 33) (712,)
(179, 33) (179,)

In [25]:
print('mean survival in train : {0: .3f}'.format(np.mean(y_train)))
print('mean survival in test : {0: .3f}'.format(np.mean(y_test)))

mean survival in train :  0.383
mean survival in test :  0.385

In [26]:
import sklearn

In [27]:
sklearn.__version__

'0.22.1'